body {
  margin: 0;
  padding: 0;
  height: 3000px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #EDE8DC;
}


::-webkit-scrollbar {
  display: none;
}


body {
-ms-overflow-style: none; 
scrollbar-width: none; 
}


* {
  box-sizing: border-box;
}

.gradient-background {
  background: linear-gradient(297deg,#c6fee4,#2045b1,#94f6ec);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  z-index: -5;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: var(--base-color);
  transition: opacity 1s ease, visibility 1s ease;
}

@keyframes daribawah {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(0px);
  }
  
 }



 .dari-bawah {
  animation: daribawah linear;
  animation-timeline:  view();
  animation-range: entry 0% cover 40%;
 }

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: var(--base-color);
  transition: opacity 1s ease, visibility 1s ease;
}

.animasi-bawah {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1s ease;
 }

 
 .animasi-atas {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s ease;
 }
 
 .animasi-kanan1 {
   opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s ease; 
 }

 .animasi-kiri {
  opacity: 0;
 filter: blur(5px);
 transform: translateX(-100%);
 transition: all 1s ease; 
}

 
 .show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
 }
 
 @media(prefers-reduce-motion) {
   .animasi{
     transition: none;
   }
 }



.navigator {
  display: flex;
  height: 55px;
  flex: 2 1 2;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  z-index: 11;
}

.latar-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
}

.navigator:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);

}

.kiri {
  width: 30%;

}

.kiri img {
  left: 6px ;
  position: fixed;
  z-index: -2;
  top: 2px;
  width:50px;
  height: 50px;
  cursor: pointer;
}

.kanan, .kiri, .tengah {
  margin: 0;
  padding: 0;
}





.tengah {
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 18px ;
  margin-right: 6rem;
}

.kanan {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  font-family: Poppins;
  white-space: nowrap;
  font-size: 13px;
  color: white; 
  margin-right: 6rem;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  top: 0;
  left: 0;
  z-index: 9999999999999999999999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start ;
}

.sidebar a {
  width: 100%;
  margin-top: 2rem;
  text-shadow: 0 0 0.5px orange;
  color: orange;
}

.sidebar svg {
  margin-top: 1rem;
  margin-left: 1rem;
}

.link {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.link:hover {
  text-shadow: 0 0 0.5px orange;
  color: orange;
}

.pp {
  position: absolute;
  top: 69%;
  left: 0;
  width: 100%;
  overflow: hidden; 
  color: #ffffff;
  font-size: 120px;
  font-family: Bebas Neue;
}

.strip {
  color: orange;
}

.marquee-container {
  width: 100%;
  overflow: hidden; 
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  animation: scroll-text 8s linear infinite; 
}

.marquee span {
  display: inline-block;
  padding-right: 10px; 
}

@keyframes scroll-text {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-50%); 
  }
}



.ampat,
.ampat2 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -3;
  top: 0;
}

.Slide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 

.ampat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2; 
}

.ra {
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 96%;
  color: white;
  font-family: Lora;
  z-index: 9999;
  font-size: 20px;
}

.gambar {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slogan {
 position: relative;
 top: 200px;
 z-index: -4;
}

#papua {
  position: absolute;
  top: 50px;
  left: 25%;
  translate: -50% -50%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 110px;
  z-index: 1;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 4px 0 #000, 4px 4px 0 #000;
} 

.tembok {
  background-color: white;
  position: absolute;
  z-index: -4;
  width: 100%;
  height: 93%;
}

.image-galery {
  position: relative;
  margin-top: 1%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 14%;
  z-index: -8;
  
}

.pulau {
 display: flex;
 flex-direction: row;
 margin-top: 780px;
 justify-content: flex-end;
 position: relative;
 background-color: #2045b1;
}

.pulau::after {
  content: "";
  top: -20px;
  height: 4%;
  width: 100%;
  position: absolute;
  background: linear-gradient(297deg,#c6fee4,#2045b1,#94f6ec);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.pulau::before {
  content: "";
  top: 500px;
  height: 4%;
  width: 100%;
  position: absolute;
  background: linear-gradient(297deg,#c6fee4,#2045b1,#94f6ec);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.image-galery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.6%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -9;
}

.image {
  width: 100%;
  height: 90%;
  z-index: -2;
  object-fit: cover;
}

.pejelasan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-left: 16px;
  margin-right: 20px;
  background-color: #FCFAEE;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hayati,.alam,.seni {
border: solid 5px #3f2009;
 text-align: center;
 font-family: Poppins;
 font-size: 16px ;
 color: #000;
 border-radius: 16px;
 width: 400px;
 height: 520px;
 transition: transform 0.3s ease-out, opacity 0.3s ease-in;
 background-color:white;
 z-index: 2;
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}



.hayati::after,.alam::after,.seni::after {
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 16px;
}



.hayati:hover,.alam:hover,.seni:hover {
  background-color: #3f2009; 
  border: 5px solid rgba(255, 165, 0, 0);
  box-shadow: 0 4px 100px #3f2009; 
  color: white;
  transform: translateY(-30px);
}

.pa1, .pa2, .pa3 {
  position: absolute;
  left: 0 px;
  z-index: -2;
  opacity: 0;
  transition: 0.3s;
  width: 100px;
  top: 0;
}

.pa1 img, .pa2 img, .pa3 img {
 width: 400px;
 height: 400px;
 margin-left: -9.4rem;
}


.alam:hover .pa3 {
  transform: translateY(-200px);
  opacity: 1;
}

.seni:hover .pa2 {
  transform: translateY(-200px);
  opacity: 1;
}

.hayati:hover .pa1 {
  transform: translateY(-200px);
  opacity: 1;
}

.hayati p {
  transition: 0.3s;
  margin-top: 10%;
  padding-left: 20px;
  padding-right : 20px;
}

.seni p {
  transition: 0.3s;
  margin-top: 8%;
  margin-bottom: 39px;
  padding-left: 20px;
  padding-right : 20px;
}

.alam p {
  transition: 0.3s;
  margin-top: 8%;
  padding-left: 20px;
  padding-right : 20px;
}

.hayati h2 {
  transition: 0.3s;
  margin-top: 10%;
  margin-bottom: 0px;
  text-shadow: 0 0 2px #a85418 ;
  color: #a85418;
  font-size: 28px;
}

.alam h2 {
  transition: 0.3s;
  margin-top: 14%;
  margin-bottom: 0px;
  text-shadow: 0 0 2px #a85418 ;
  color: #a85418;
  font-size: 32px;
}

.seni h2 {
  transition: 0.3s;
  margin-top: 14%;
  margin-bottom: 0px;
  text-shadow: 0 0 2px #a85418 ;
  color: #a85418;
  font-size: 32px;
}

.profil1,.profil2,.profil3 {
  width: 150px;
  height: 150px;
  border: 3px solid #3f2009;
  object-fit: cover;
  overflow: hidden;
  transition: 0.3s;
  border-radius: 50%;
}

.profil3 {
  margin-top: 24px;
  margin-bottom: -24px;
}

.profil2 {
  margin-top: 20px;
  margin-bottom: -20px;
}


.hayati:hover .profil1, .seni:hover .profil2,.alam:hover .profil3  {
  transform: translateY(-10px);
  border: 3px solid #ffffff;
}

.profil1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.profil2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profil3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hayati:hover p {
  transform: translateY(-20px);
  color: white;
}


.seni:hover p {
  transform: translateY(-20px);
  color: white;
}

.alam:hover p {
  transform: translateY(-20px);
  color: white;
}

.hayati:hover h2 {
  transform: translateY(-20px);
}

.seni:hover h2 {
  transform: translateY(-20px);
}

.alam:hover h2 {
  transform: translateY(-20px); 
}

.peta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jayawi {
  padding: 10px;
  object-fit: contain;
}

.jaya {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.social {
  background-color: gainsboro;
  width: 100%;
  margin-top: 18%;
  position: relative;
}

.social {
  width: 100%;
  height: auto; /* Changed to auto so it adjusts based on content */
  margin-top: 18%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 4);
}

.swiper {
  width: calc(100% - 20%);
  height: 80vh; /* Adjusted to prevent full height overflow */
  border-radius: 8px;
  
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.pagination_ {
  position: absolute;
  width: calc(100% - 10%);
  top: 50%;
}
.swiper-button-prev:hover {
  background-color: white;
}

.swiper-button-next:hover {
  background-color: white;
}

.swiper-button-prev img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.swiper-button-next img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


.pagination_ div[class^="swiper-button"]::after {
  display: none;
}

.pagination_ div[class^="swiper-button"] {
  margin-left: -10px;
  margin-right: -130px;
  width: 45px;
  height: 45px;
  display: flex;
  border: 1px solid rgb(75, 75, 75);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 999999;
  position: absolute;
  transition: 0.3s;
  
}


.hayati button, .seni button, .alam button {
  width: 100px;
  border: none;
  border-radius: 20%; 
  background-color: orange;
  z-index: 11;
  transition: 0.3s;
}
.hayati:hover button, .seni:hover button, .alam:hover button {
  transform: translateY(-20px);
  
}

.bawah {
  position: absolute;
  left: 400px;
  top: 100px;
  z-index: 9999;
}

footer {
  background-color: #3f2009;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 4rem;
  font-size: 30px;
  font-family: Poppins;
  font-weight: bold;
  margin-top: 100px;
}

.list li a {
  text-decoration: none;
  color: #D8D8D8;
  margin-top: 4rem;
  transition: 0.3s ease;
}

.list li a:hover {
  color: orange;
  text-shadow: 0px 0px 1px orange;
}

.list li {
  margin-top: 3rem;
}

.list {
  list-style-type: none;
}

.media {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.media svg {
  height: 50px;
  width: 50px;
  fill: #D8D8D8;
  transition: 0.2s ease;
}

.media svg:first-child:hover {
 fill: #000000;
 cursor: pointer;
}


.media svg:nth-child(2):hover {
  fill: #FF0000;
  cursor: pointer;
}

.media svg:last-child:hover {
  fill: #E4405F;
  cursor: pointer;
}






@media only screen and (max-width: 768px) {
  

  .kanan {
    display: none;
  }

  .ampat {
    overflow-y: hidden;
    position: absolute;
  }



  .kiri svg {
    display: block;
  }
  
  .tengah, .kiri {
    width: 50%;
    font-size: 2vh;
  }

  .tengah {
    font-size: 12px;
  }

  .ra {
    top: 95%;
  }

  .pulau::after {
    display: none;
  }

  .papua-island img {
    width: 300px;
    height: 300px;
    display: none;
  }

  .slogan {
    left: 90px;
  }

  #papua {
    font-size: 80px;
  }
  
  
  .image-galery {
    margin-top: 500px;
  }

  .pejelasan {
    margin-top: 300px;
    flex-direction: column;
  } 

  .alam,.hayati,.seni {
    height: 500px;
    width: 300px;
    font-size: 13px;
  }

  .seni {
    height: 600px;
  }

  .pa1 img, .pa2 img, .pa3 img {
    width: 400px;
    height: 400px;
    margin-left: -9.4rem;
    display: none;
   }

  

  .alam button {
    position: absolute;
    top: 72% ;
    left: 50%;
    translate: -50% -50%;
    width: 70px;
    border: none;
    border-radius: 20%; 
    background-color: orange;
    z-index: 5;
    display: none;
  }

  .seni button {
    position: absolute;
    top: 47.5% ;
    left: 50%;
    translate: -50% -50%;
    width: 70px;
    border: none;
    border-radius: 20%; 
    background-color: orange;
    z-index: 5;
    display: none;
  } 
  

  .hayati button {
    position: absolute;
    top: 10% ;
    left: 50%;
    translate: -50% -50%;
    width: 70px;
    border: none;
    border-radius: 20%; 
    background-color: orange;
    z-index: 5;
    display: none;
  } 

  .swiper-button-prev img {
    display: none;
  }
  
  .swiper-button-next img {
    display: none;
  }

  .pagination_ div[class^="swiper-button"] {
    display: none;
  }

  .swiper-slide {
    justify-content: center;
    align-items: center;
    display: none;
  }

  .swiper-wrapper {
    max-width: 100%;
  }

  button {
    display: none;
  }

  .list {
    margin-bottom: 200px;
    margin-right: 3rem;
  }

  .media {
    margin-right: 3rem;
  }
}