@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}


body {
-ms-overflow-style: none; 
scrollbar-width: none; 
}



@keyframes daribawah {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(0px);
  }
  
 }



 .dari-bawah {
  animation: daribawah linear;
  animation-timeline:  view();
  animation-range: entry 0% cover 40%;
  
 }




.animasi {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(25%);
  transition: all 1s;
 }

 
 .animasi-kanan {
   opacity: 0;
  filter: blur(5px);
  transform: translateX(-25%);
  transition: all 1s; 
 }

 .animasi-bawah {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1s;
 }

 
 .animasi-atas {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
 }
 
 .animasi-kanan1 {
   opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s; 
 }

 .animasi-kiri {
  opacity: 0;
 filter: blur(5px);
 transform: translateX(-100%);
 transition: all 1s; 
}

 
 .show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
 }
 
 @media(prefers-reduce-motion) {
   .animasi{
     transition: none;
   }
 }

 @keyframes muncul {
  from {
    opacity: 0;
    scale: 0.5;
    
  }

  to {
    opacity: 1;
    scale: 1;
  }
 }

 .scroll {
  animation: muncul linear;
  animation-timeline:  view();
  animation-range: entry 0% cover 40%;
 }



 @keyframes dariKiri {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
  
 }

 @keyframes dariKanan {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
  
 }


 .dari-kiri {
  animation: dariKiri linear;
  animation-timeline:  view();
  animation-range: entry 0% cover 40%;
 }

 .dari-kanan {
  animation: dariKanan linear;
  animation-timeline:  view();
  animation-range: entry 0% cover 40%;
 }
  
   
   .animasi-kanan {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-25%);
    transition: all 1s; 
   }
  
   .animasi-bawah {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
   }
  
   
   .animasi-atas {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
   }
   
   .animasi-kanan1 {
     opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s; 
   }
  
   .animasi-kiri {
    opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
   transition: all 1s; 
  }
  
   
   .show {
     opacity: 1;
     filter: blur(0);
     transform: translateX(0);
   }
   
   @media(prefers-reduce-motion) {
     .animasi{
       transition: none;
     }
   }
  
   @keyframes muncul {
    from {
      opacity: 0;
      scale: 0.5;
      
    }
  
    to {
      opacity: 1;
      scale: 1;
    }
   }
  
   .scroll {
    animation: muncul linear;
    animation-timeline:  view();
    animation-range: entry 0% cover 40%;
   }
  
  
  
   @keyframes dariKiri {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0px);
    }
    
   }
  
   @keyframes dariKanan {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0px);
    }
    
   }
  
  
   .dari-kiri {
    animation: dariKiri linear;
    animation-timeline:  view();
    animation-range: entry 0% cover 40%;
   }
  
   .dari-kanan {
    animation: dariKanan linear;
    animation-timeline:  view();
    animation-range: entry 0% cover 40%;
   }
  
  
  
  
  
  .navigator {
    display: flex;
    height: 55px;
    flex: 2 1 2;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s ease-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    z-index: 11;
  }
  
  .latar-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
  }
  
  .navigator:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
  
  }
  
  .kiri {
    width: 30%;
  
  }
  
  .kiri img {
    left: 6px ;
    position: fixed;
    z-index: -2;
    top: 2px;
    width:50px;
    height: 50px;
    cursor: pointer;
  }
  
  .kanan, .kiri, .tengah {
    margin: 0;
    padding: 0;
  }
  
  
  
  
  
  .tengah {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 18px ;
    margin-right: 6rem;
  }
  
  .kanan {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    font-family: Poppins;
    white-space: nowrap;
    font-size: 13px;
    color: white; 
    margin-right: 6rem;
  }
  
  .sidebar {
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start ;
  }
  
  .sidebar a {
    width: 100%;
    margin-top: 2rem;
    text-shadow: 0 0 0.5px orange;
    color: orange;
  }
  
  .sidebar svg {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  
  .link {
    color: white;
    text-decoration: none;
    transition: 0.2s;
  }
  
  .link:hover {
    text-shadow: 0 0 0.5px orange;
    color: orange;
  }
  
  .ampat,
  .ampat2 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8;
    top: 0;
  }

  .gambar1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


  
  .Slide {
    display: none;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } 
  
  .ampat::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999; 
  }
  
  
  
  
  

/* Layer Utama */

.layer-utama {
    border: 2px;
    margin-left: 3rem;
    margin-right: 3rem; 
    margin-top: 100vh;
    border-radius: 20px;
    background-color: #FCFAEE;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border: none;
    height: 300vh;
    
}

/* Judul */
.awalan {
    font-size: 40px;
    padding: 30px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #A67B5B;
    position: relative;
    background: linear-gradient(to right, #A67B5B 20%, #A67B5B 20%, transparent 20%);
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-size 1s linear;
    background-size: 0 100%;
    background-position: 0 0;
    display: inline-block;
}

.awalan::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #A67B5B;
    transition: 1s linear;
}

.awalan:hover::after {
    width: 100%;
}

.awalan:hover {
    background-size: 500% 500%;
    filter: drop-shadow(0 0 10px #A67B5B);
} 

.awalan::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

/*Layer Pertama */

.layer-pertama {
    display: flex;
}

/* Kartu */
  
.card {
    width: 580px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 5rem;
    margin-top: 7rem;
    margin-right: 2rem;
    border: 3.5px solid #3f2009;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body {
    width: 90%;
    height: 85%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: 1s;
    opacity: 0;
}

.card-title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.card-subtitle {
    font-size: 20px;
    line-height: 30px;
    margin: 15px ;
    font-weight: 400;
    text-align: center;
}

.card-btn {
    color: #000000;
    background:#F5F5F5;
    padding: 10px 22px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    margin-top: 3rem;
}

.card:hover .card-body {
    right: 0;
    opacity: 1;
}

/* Kanan */

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70rem;
    font-size: 10;
}

.right-judul {
    display: flex;
    flex-direction: row;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.accordion {
    max-width: 700px;
    width: 100%;
    margin: 0 15px;
    padding: 15px;
    border-radius: 20px;
}

.accordion-content {
    background-color: #E9EFEC;
    border-radius: 10px;
    margin: 15px 0;
    overflow: hidden;
}

.accordion-content.open {
    padding-bottom: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s ease;
}

.accordion-content header {
    display: flex;
    margin-top: 10px;
    min-height: 40px;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s linear;
}

.accordion-content header:hover {
    color: #ECB176;
    transition: 2s;
}

.accordion-content header:hover i {
    color: #ECB176;
    transition: 1s;
}

.accordion-content.open header {
    min-height: 35px;
}


.accordion-content header .title {
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.accordion-content header i {
    font-size: 15px;
    color: #333;
}

.accordion-content .description  {
    height: 0;
    padding: 0 10px;
    padding-top: 16px;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.2s linear;
}

/* SIstem Sosial Suku */
.judul-suku {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(1, 1, 3, 0.5);
  margin-top: 7rem;
}

.layer-kedua {
  display: grid;
  grid-template-columns: 200px 200px;
  column-gap: 500px;
}

.kotak1 {
  background-color: #ECB176;
  width: 600px;
  border-radius: 20px;
  padding: 20px;
  color: white;
  margin: 3rem 4rem;
  transition: transform 0.3s ease;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.kotak1 img {
  width: 180px;
  height: 180px;
  border: 7px solid white;
  border-radius: 15px;
}

.icon {
  margin-right: 20px;
  transition: transform 0.3s ease;
  max-height: 87%;
}

.judul-kotak1 {
  margin: 0;
  font-size: 1.5em;
  font-family:  "Poppins", sans-serif;
  font-weight: 700;
}

.content p {
  margin: 5px 0 0 0;
  font-size: 0.9em;
  font-family:  "Poppins", sans-serif;
  font-weight: 400;
}

.kotak1:hover .icon {
  transform: translateY(-10px);
  box-shadow: 0px 27px 15px rgba(0, 0, 0, 0.5);
}

/* layer ketiga */
.judul-gambar {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(1, 1, 3, 0.5);
  margin-top: 7rem;
}

.layer-ketiga {
  position: relative;
  display: flex;
  justify-content:center ;
  gap: 90px;
  margin-top: 4rem;
}

.gambar {
  position: relative;
  display: flex;
  justify-content: center;
  width: 350px;  
  max-width: 100%;
  height: 300px;
  background-color: white;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  border-radius: 10px;
}



.img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s;
}

.layer-ketiga .gambar:hover {
  height: 360px;
}

.layer-ketiga .gambar:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.layer-ketiga .gambar .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layer-ketiga .gambar .isi {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 25px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.layer-ketiga .gambar:hover .isi {
    top: 130px;
    height: 220px;
}

.isi h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #009688;
}

.isi p {
    color: #333;
    margin-top: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

footer {
    background-color: #3f2009;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    font-size: 30px;
    font-family: Poppins;
    font-weight: bold;
    margin-top: 200px;
  }
  
  .list li a {
    text-decoration: none;
    color: #D8D8D8;
    margin-top: 4rem;
    transition: 0.3s ease;
    position: relative;
  }
  
  .list li a:hover {
    color: orange;
    text-shadow: 0px 0px 1px orange;
  }

  .list li a::after {
    content: "";
    height: 2px;
    background-color: white;
    position: absolute;
    top: 40px;
    left: 50%;
    transition: 0.3s ease;
  }
  
  .list li a:hover:after {
    content: "";
    padding-left: 50%;
    padding-right: 50%;
    height: 2px;
    background-color: white ;
    position: absolute;
    top: 40px;
    left: 0;
  
  }
  
  .list li {
    margin-top: 3rem;
  }
  
  .list {
    list-style-type: none;
  }
  
  .media {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
  }
  
  .twiter svg, .YouTube svg, .instagram svg {
    height: 50px;
    width: 50px;
    fill: #D8D8D8;
    transition: 0.2s ease;
  }
  
  .twiter svg:hover {
   fill: #000000;
   cursor: pointer;
  }
  
  
  .YouTube svg:hover {
    fill: #FF0000;
    cursor: pointer;
  }
  
  .instagram svg:hover {
    fill: #E4405F;
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    html {
      overflow-x: hidden;
    }

    .kanan {
      display: none;
    }

    .tengah, .kiri {
      width: 50%;
      font-size: 2vh;
    }

    .tengah {
      font-size: 12px;
    }

    .layer-utama {
      padding-bottom: 350vh;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .awalan {
      font-size: 30px;
    }

    .right-judul {
      justify-content: center;
      margin-top: 5rem;
    }

    .buatan {
      display: flex;
      flex-wrap: wrap;
    }
    
    .layer-pertama {
      display: flex;
      flex-wrap: wrap;
    }


    .right {
      display: flex;
    }

    .card {
      width: 400px;
      margin-left: 0;
      margin-right: 0;
    }

    .card-content {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .card-body {
      width: 86%;
    }

    .accordion-content {
      margin: 1rem;
    }
    
    .layer-kedua {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .kotak1 {
      display: flex;
      flex-wrap: wrap;
      width: 300px;
    }

    .content {
      text-align: center;
      margin-top: 1rem;
    }

    .icon {
      margin-right: 0;
    }

    .kotak1:hover .icon { 
      box-shadow: 0px 14px 15px rgba(0, 0, 0, 0.5);
    }

    .layer-ketiga {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    
      
    }
    

    .dari-kanan,.dari-kiri,.dari-bawah {
      animation: none;
    }


    footer {
      margin-top: 300px;
    }

    .list {
      margin-top: -200px;
    }

    .media {
      margin-top: 200px;
    }

  }





